{
    "swagger": "2.0",
    "info": {
        "version": "0.0.0",
        "title": "Qiy Node API",
        "description": "RESTful API documentation of the [Qiy Node API](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#qiy-node-api).",
        "license": {
            "name": "Qiy Foundation License for the Qiy Scheme",
            "url": "https://github.com/qiyfoundation/Qiy-Scheme/blob/master/LICENSE.md"
        },
        "termsOfService": "https://github.com/qiyfoundation/Qiy-Scheme",
        "contact": {
            "name": "Work Stream Functionality & Technology",
            "url": "https://github.com/qiyfoundation/Qiy-Scheme/projects/2",
            "email": "info@qiyfoundation.org"
        }
    },
    "host": "access.provider.host",
    "basePath": "/qiy-node-implementation/api",
    "schemes": [
        "https"
    ],
    "definitions": {
        "AccountModel": {
            "description": "Account Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Account links.",
                    "properties": {
                        "provider": {
                            "description": "Service Provider (publishedProviderUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Account (accountUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "self",
                        "provider"
                    ],
                    "type": "object"
                },
                "persistentIds": {
                    "description": "Persistent Ids.",
                    "items": {
                        "$ref": "#/definitions/PersistentIdModel"
                    },
                    "type": "array" 
                },
                "state": {
                    "description": "State of the account.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "AccountsModel": {
            "description": "List of Accounts.",
            "items": {
                "description": "Account (accountUrl)",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "ApiModel": {
            "properties": {
                "currentVersion": {
                    "type": "string",
                    "description": "Api version.",
                    "maxItems": 1,
                    "minItems": 1
                },
                "id": {
                    "description": "[Qiy Node Id](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#qiy-node-id). This property is only included when the request is authenticated.",
                    "type": "string",
                    "maxItems": 1,
                    "minItems": 0
                },
                "links": {
                    "$ref": "#/definitions/ApiLinksModel"
                }
            },
            "required": [
                "currentVersion",
                "links"
            ],
            "type": "object"
        },
        "ApiLinksModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/EndpointAddressesModel"
                }
            ]
        },
        "CandidateModel": {
            "description": "Candidate Model.",
            "properties": {
                "service": {
                    "description": "Data Service (publishedServiceUrl).",
                    "format": "url",
                    "type": "string"
                },
                "account": {
                    "description": "Linked Account (accountUrl).",
                    "format": "url",
                    "type": "string"
                }
	    },
            "required": [
                "service"
	    ],
            "type": "object"
        },
        "CandidatesMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "properties": {
                        "payload": {
			    "properties": {
				"consent": {
                                    "description": "Consent (consentUrl)",
                                    "format": "url",
				    "type": "string"
				},
				"candidates": {
                                    "$ref": "#/definitions/CandidatesModel"
				}
			    },
			    "required": [
			        "consent",
			        "candidates"
			    ],
                            "type": "object"
                        },
                        "type": {
                            "format": "'https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#candidates-message'",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "CandidatesModel": {
            "description": "Candidates.",
            "items": {
                "$ref": "#/definitions/CandidateModel"
            },
            "type": "array"
        },
        "CatalogueModel": {
            "description": "Catalogue details.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Catalogue links.",
                    "properties": {
                        "provider": {
                            "description": "Published Provider url",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Catalogue url",
                            "format": "url",
                            "type": "string"
                        },
                        "services": {
                            "description": "Published Services url (publishedServicesUrl).",
                            "format": "url",
                            "type": "string" 
                        }
                    },
                    "required": [
                        "self",
                        "provider"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the catalogue.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "CataloguesModel": {
            "description": "List of Catalogues.",
            "items": {
                "description": "Catalogue url (catalogueUrl)",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "ConnectionCreatedEventModel": {
            "allOf": [
                {   "$ref": "#/definitions/EventModel" },
                { 
                    "description": "See [Connection Created Event](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection-created-event).",
                    "properties": {
	    	        "extraData": {
                            "format": "null",
			    "type": "object"
                        },
                        "type": {
                            "format": "CONNECTION_CREATED_EVENT"
                        }
                    },
		    "type": "object"
                }
            ]
        },
        "ConnectionsResponseModel": {
            "description": "Response of Connections Request.",
            "items": {
                "type": "object",
                "properties": {
                    "result": {
                        "items": {  
                            "$ref": "#/definitions/ConnectionModel"
                        },
                        "type": "array"
                    },
                    "links": {
                        "description": "tbd",
                        "items": {
                                "type": "object"
                        },
                        "type": "array"
                    }
                }
            },
            "type": "array"
        },
        "ConnectionModel": {
            "description": "Connection details.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "type": "object",
                    "properties": {
                        "mbox": {
                            "description": "Messagebox (mboxUrl).",
                            "type": "string",
                            "format": "url"
                        },
                        "references": {
                            "description": "References Url (referencesUrl).",
                            "type": "string",
                            "format": "url"
                        },
                        "self": {
                            "description": "Connection (connectionUrl).",
                            "type": "string",
                            "format": "url"
                        }
                    },
                    "required": [
                        "mbox",
                        "references",
                        "self"
                    ]
                },
                "persistentId": {
                    "description": "[Persistent Id](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#persistent-id) of the [Connection](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection).",
                    "format": "See Persistent Id Model",
                    "type": "string"
                },
                "state": {
                    "description": "State of the [Connection](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection).",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "persistentId",
                "state"
            ],
            "type": "object"
        },
        "ConnectTokenDataModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/ConnectTokenMetadataModel"
                },
                {
                    "type": "object",
                    "properties": {
                        "json": {
                            "$ref": "#/definitions/ConnectTokenModel"
                        }
                    }
                }
            ],
            "description": "Connect Token details",
            "type": "object"
        },
        "ConnectTokenMetadataModel": {
            "type": "object",
            "properties": {
                "expires": {
                    "type": "integer",
                    "description": "Expiration date time.",
                    "format": "Unix time in ms",
                    "minItems": 0,
                    "maxItems": 1
                },
                "name": {
                    "type": "string",
                    "description": "Connect Token name",
                    "minItems": 0,
                    "maxItems": 1
                },
                "note": {
                    "description": "Note",
                    "minItems": 0,
                    "maxItems": 1,
                    "type": "string"
                },
                "useBudget": {
                    "type": "integer",
                    "description": "Maximum number of use times",
                    "maxItems": 1,
                    "minItems": 0
                },
                "actions": {
                    "type": "object",
                    "description": "Instructions to be executed immediately after connecting.",
                    "properties": {
                        "messages": {
                            "description": "Messages",
                            "items": {
                                "$ref": "#/definitions/MessageModel"
                            },
                            "type": "array"
                        }
                    }
                }
            }
        },
        "ConnectTokenModel": {
            "description": "See [Connect Token](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connect-token).",
            "properties": {
                "target": {
                    "description": "The [Transport Connect Token](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#transport-connect-token).",
                    "type": "string"
                },
                "identifier": {
                    "description": "This property is only used in responses and holds the alias.",
                    "type": "string"
                },
                "tmpSecret": {
                    "type": "string",
                    "description": "Base64-encoded temporary secret.",
                    "format": "Base64-encoded"
                }
            },
            "required": [
                "target",
                "tmpSecret"
            ],
            "type": "object"
        },
        "ConnectTokenRequestParametersModel": {
            "allOf": [
                { "$ref": "#/definitions/ConnectTokenMetadataModel" },
                {
                    "type": "object",
                    "properties": {
                        "json": {
                            "$ref": "#/definitions/ConnectTokenModel" 
                        }
                    }
                }
            ]
        },
        "ConsentModel": {
            "description": "Consent model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "auditLog": {
                    "description": "Audit log.",
		    "items": {
                        "description": "Audit log entry with Service Provider confirmations.",
			"properties": {
		            "changeRecorded": {
                                "description": "Creation time of the audit log entry.",
                                "format": "Unix time in ms",
                                "type": "integer"
			    },
		            "changeTime": {
                                "description": "Time of status change.",
                                "format": "Unix time in ms",
                                "type": "integer"
			    },
		            "statusChange": {
                                "description": "Status change.",
				"properties": {
				    "new": {
                                        "description": "New status.",
                                        "type": "string"
			            },
				    "old": {
                                        "description": "Old status.",
                                        "type": "string"
				    }
				},
				"type": "object"
			    },
		            "confirmation": {
                                "description": "Service Provider confirmation data.",
				"properties": {
		                    "confirmationRecorded": {
                                        "description": "Record time of the confirmation in this audit log entry.",
                                        "format": "Unix time in ms",
                                        "type": "integer"
			            },
		                    "confirmationSignature": {
                                        "description": "Confirmation signature by the Service Provider over the consentId, the old status, the new status, the changeTime and the confirmationTime.",
                                        "type": "string"
			            },
		                    "confirmationTime": {
                                        "description": "Time of confirmation.",
                                        "format": "Unix time in ms",
                                        "type": "integer"
			            }
				},
				"required": [
				    "confirmationRecorded",
				    "confirmationSignature",
				    "confirmationTime"
				],
				"type": "object"
			    }
		        },
			"required": [
			    "changeTime",
			    "changeRecorded",
			    "statusChange"
		        ],
                        "type": "object"
		    },
                    "type": "array"
                },
		"consentId": {
                    "description": "Consent Id.",
                    "format": "uuid",
		    "type": "string"
		},
		"consentRequestSignature": {
                    "description": "Signature of the Service Provider over the consentId, dataTypeUrl, publishedServiceUrl, consentRequestedTime and persistentId.",
                    "format": "url",
		    "type": "string"
		},
                "consentRequestTime": {
                    "description": "Consent request time.",
                    "format": "Unix time in ms",
                    "readOnly": true,
                    "type": "integer"
                },
		"dataTypeUrl": {
                    "description": "The Personal Data that the Service Provider requests Consent for (dataTypeUrl).",
                    "format": "url",
		    "type": "string"
		},
                "links": {
                    "type": "object",
                    "properties": {
                        "candidates": {
                            "description": "Candidates (candidatesUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Consent Url",
                            "type": "string",
                            "format": "url"
                        },
                        "sources": {
                            "description": "Sources (sourcesUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "subscription": {
                            "description": "Subscription (subscriptionUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "self",
                        "subscription"
                    ]
                },
		"persistentId": {
                    "description": "Persistent Id of the connection between the Relying Party and the Individual.",
                    "$ref": "#/definitions/PersistentIdModel"
		},
		"publishedServiceUrl": {
                    "description": "The Service that the Service Provider intends to use the Personal Data for (publishedServiceUrl).",
                    "format": "url",
		    "type": "string"
		},
                "state": {
                    "description": "State of the consent.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "consentId",
                "consentRequestTime",
                "consentRequestSignature",
                "dataTypeUrl",
                "links",
                "persistentId",
                "publishedServiceUrl",
                "state"
            ],
            "type": "object"
        },
        "ConsentCredentialModel": {
            "description": "Consent Credential Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "type": "object",
                    "properties": {
                        "consent": {
                            "description": "Consent Url",
                            "type": "string",
                            "format": "url"
                        }
                    },
                    "required": [
                        "self",
                        "subscription"
                    ]
                },
                "token": {
                    "description": "Access token.",
                    "format": "uuid",
                    "type": "string"
                },
                "state": {
                    "description": "State of the credential.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "ConsentNotificationMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "properties": {
                        "payload": {
			    "properties": {
				"consent": {
                                    "description": "Consent (consentUrl)",
                                    "format": "url",
				    "type": "string"
				},
				"serviceProvider": {
                                    "description": "Service Provider (publishedProviderUrl)",
                                    "format": "url",
				    "type": "string"
				}
			    },
			    "required": [
			        "consent",
			        "serviceProvider"
			    ],
                            "type": "object"
                        },
                        "type": {
                            "format": "'https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#consent-notification-message'",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "ConsentRequestMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "properties": {
                        "payload": {
			    "properties": {
				"consentUrl": {
                                    "description": "Consent Url (consentUrl).",
                                    "format": "url",
				    "type": "string"
				},
				"consentId": {
                                    "description": "Consent Id.",
                                    "format": "uuid",
				    "type": "string"
				},
       				"consentRequestSignature": {
                                    "description": "Signature of the Service Provider over the consentId, dataTypeUrl, publishedServiceUrl, consentRequestedTime and persistentId.",
                                    "format": "url",
				    "type": "string"
				},
                                "consentRequestTime": {
                                   "description": "Consent request time.",
                                   "format": "Unix time in ms",
                                   "readOnly": true,
                                   "type": "integer"
                                },
				"credential": {
                                    "description": "Consent Individual Credential.",
                                    "$ref": "#/definitions/ConsentCredentialModel"
				},
				"dataTypeUrl": {
                                    "description": "The Personal Data that the Service Provider requests Consent for (dataTypeUrl).",
                                    "format": "url",
				    "type": "string"
				},
				"persistentId": {
                                    "description": "Persistent Id of the connection between the Relying Party and the Individual.",
                                    "$ref": "#/definitions/PersistentIdModel"
				},
				"publishedServiceUrl": {
                                    "description": "The Service that the Service Provider intends to use the Personal Data for (publishedServiceUrl).",
                                    "format": "url",
				    "type": "string"
				}
			    },
			    "required": [
			        "consentId",
			        "consentRequestSignature",
			        "consentRequestTime",
			        "dataTypeUrl",
			        "persistentId",
			        "publishedServiceUrl"
			    ],
                            "type": "object"
                        },
                        "type": {
                            "format": "'https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#consent-request-message'",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "ConsentsModel": {
            "description": "List of Consent Urls.",
            "items": {
                "description": "Consent url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "DataServiceUrlModel": {
            "description": "Data Descriptor of the Data Service that will serve as the source for the Personal Data (publishedServiceUrl).",
            "format": "url",
            "type": "string"
        },
        "DataTypeModel": {
            "description": "Data Type Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Data Type links.",
                    "properties": {
                        "consumedBy": {
                            "description": "Service Types and Service Providers that consume data of this type.",
			    "properties": {
			        "serviceTypes": {
                                    "description": "Service Types that consume data of this type.",
				    "items": {
                                        "description": "Service Type that consumes data of this type (serviceTypeUrl).",
					"format": "url",
                                        "type": "string"
				    },
                                    "type": "array"
				},
			        "serviceProviders": {
                                    "description": "Service Providers that consume data of this type.",
				    "items": {
                                        "description": "Service Provider that consumes data of this type (publishedProviderUrl).",
					"format": "url",
                                        "type": "string"
				    },
                                    "type": "array"
				}
			    },
                            "type": "object"
                        },
                        "descriptor": {
                            "description": "Data Type Descriptor.",
                            "format": "url",
                            "type": "string"
                        },
                        "producedBy": {
                            "description": "Service Types and Service Providers that produce data of this type.",
			    "properties": {
			        "serviceTypes": {
                                    "description": "Service Types that produce data of this type.",
				    "items": {
                                        "description": "Service Type that produces data of this type (serviceTypeUrl).",
					"format": "url",
                                        "type": "string"
				    },
                                    "type": "array"
				},
			        "serviceProviders": {
                                    "description": "Service Providers that produce data of this type.",
				    "items": {
                                        "description": "Service Provider that produces data of this type (publishedProviderUrl).",
					"format": "url",
                                        "type": "string"
				    },
                                    "type": "array"
				}
			    },
                            "type": "object"
                        },
                        "registeredBy": {
                            "description": "Access Provider (publishedProviderUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Data Type (dataTypeUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "descriptor",
                        "registeredBy",
                        "self"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the Data Type.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "DataTypesModel": {
            "description": "List of Data Types.",
            "items": {
                "description": "Data Type url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "EndpointAddressesModel": {
            "type": "object",
            "description": "Current path endpoint addresses.",
            "properties": {
                "connections": {
                    "description": "Current address for the 'connections'-endpoint (connectionsEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "create": {
                    "description": "Current address for the 'create'-endpoint (createEndpoint). This property is only included when the request is not authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "ctCreate": {
                    "description": "Current address for the 'connect token create'-endpoint (ctCreateEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "ctList": {
                    "description": "Current address for the 'connect token list'-endpoint (ctListEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "delete": {
                    "description": "Current address for the 'delete'-endpoint (deleteEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "events": {
                    "description": "Current address for the 'events'-endpoint (eventsEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "library": {
                    "description": "Current address for the 'library'-endpoint (libraryEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "portfolio": {
                    "description": "Current address for the 'portfolio'-endpoint (portfolioEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "ref": {
                    "description": "Current address for the 'reference'-endpoint (refEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                },
                "refs": {
                    "description": "Current address for the 'references'-endpoint (refsEndpoint). This property is only included when the request is authenticated.",
                    "format": "url",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "string"
                }
            }
        },
        "EventStreamModel": {
            "allOf": [
                {   "$ref": "#/definitions/EventModel" },
                { 
                    "description": "See [Events](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#events).",
                    "format": "Stream of event objects."
                }
            ]
        },
        "EventModel": {
            "description": "Event Model.",
            "type": "object",
            "properties": {
                "connectionUrl": {
                    "description": "Connection Url.",
                    "type": "string",
                    "format": "url"
                },
                "extraData": {
                    "description": "Property for extra event data."
                },
                "type": {
                    "description": "Event type name.",
                    "type": "string"
                }
            },
            "required": [
                "connectionUrl",
                "extraData",
                "type"
            ]
        },
        "LibraryModel": {
            "description": "Library model",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "type": "object",
                    "properties": {
                        "catalogues": {
                            "description": "Catalogues Url (cataloguesUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "dataTypes": {
                            "description": "Data Types url (dataTypesUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "messageTypes": {
                            "description": "Data Types url (messageTypesUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "providers": {
                            "description": "Published Providers url (publishedProvidersUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "serviceTypes": {
                            "description": "Service Types url (serviceTypesUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "catalogues",
                        "dataTypes",
                        "providers",
                        "serviceTypes"
                    ]
                },
                "state": {
                    "description": "State of the library.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "LocationAndLinkModel": {
            "description": "Location and link.",
            "type": "object",
            "properties": {
                "Location": {
                    "description": "Url of the created connection.",
                    "type": "string"
                },
                "Link": {
                    "description": "Link header parameter, containing the mailbox url for the connection.",
                    "type": "string"
                }
            }
        },
        "MessageModel": {
            "description": "See [Qiy Node Message](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#qiy-node-message).",
            "properties": {
                "created": {
                   "description": "Message creation time.",
                   "format": "Unix time in ms",
                   "readOnly": true,
                   "type": "integer"
                },
		"inbound": {
                    "description": "Whether the received message is inbound or outbound.",
                    "readOnly": true,
                    "type": "boolean"
		},
                "payload": {
                    "description": "The Base64-encoded payload of the message.",
                    "format": "Base64-encoded",
                    "maxItems": 1,
                    "minItems": 1,
                    "type": "object"
                },
                "refSerialNr": {
                    "description": "Reference serial number",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "integer",
                    "format": "nullable"
                },
                "serialNr": {
                    "type": "integer",
                    "description": "Serial number of the message."
                },
                "text": {
                    "description": "Subject",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                },
                "type": {
                    "description": "Message Type (messageTypeUrl)",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                }
            },
            "required": [
                "payload",
                "refSerialNr",
                "text",
                "type"
            ],
            "type": "object"
        },
        "MessagesModel": {
            "description": "Qiy Node Mailbox messages.",
            "items": {
                "$ref": "#/definitions/MessageModel"
            },
            "type": "array"
        },
        "PersistentIdEventModel": {
            "allOf": [
                {   "$ref": "#/definitions/EventModel" },
                { 
                    "description": "See [Persistent Id Event](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#persistent-id-event).",
                    "properties": {
	    	        "extraData": {
                            "description": "extra data: Persistent Ids and Service Provider Identity.",
			    "properties": {
                                "persistentIds": {
                                    "description": "Persistent Ids",
                                    "items": {
                                        "description": "Persistent Id",
                                        "format": "See Persistent Id Model.",
                                        "type": "string"
				    },
                                    "type": "array"
				},
                                "providerId": {
                                    "description": "Service Provider identity (publishedProviderUrl).",
                                    "format": "url",
                                    "type": "string"
				}
                            },
			    "required": [
			        "persistentIds",
				"providerId"
		            ],
			    "type": "object"
                        },
                        "type": {
                            "format": "PERSISTENT_ID_EVENT"
                        }
                    },
		    "type": "object"
                }
            ]
        },
        "MessageReceivedEventModel": {
            "allOf": [
                {   "$ref": "#/definitions/EventModel" },
                { 
                    "description": "See [Message Received Event](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#message-received-event).",
                    "properties": {
	    	        "extraData": {
                            "format": "null",
                            "type": "object"
                        },
                        "type": {
                            "format": "MESSAGE_RECEIVED"
                        }
                    },
		    "type": "object"
                }
            ]
        },
        "MessageTypeModel": {
            "description": "Message Type Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Message Type links.",
                    "properties": {
                        "descriptor": {
                            "description": "Message Type Descriptor.",
                            "format": "url",
                            "type": "string"
                        },
                        "provider": {
                            "description": "Access Provider (publishedProviderUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Message Type (messageTypeUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "descriptor",
                        "self",
                        "provider"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the Message Type.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "MessageTypesModel": {
            "description": "List of Message Types.",
            "items": {
                "description": "Message Type (messageTypeUrl).",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "OperationModel": {
            "description": "Operation Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "type": "object",
                    "properties": {
                        "self": {
                            "description": "Operation (operationUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "source": {
                            "description": "Source (sourceUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "self",
                        "source"
                    ]
                },
                "reference": {
                    "$ref": "#/definitions/OperationReferenceModel"
                },
                "specification": {
                    "$ref": "#/definitions/OperationSpecificationModel"
                },
                "state": {
                    "description": "State of the Operation.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "OperationsModel": {
            "description": "List of Operations.",
            "items": {
                "description": "Operation (operationUrl)",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "OperationReferenceMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "properties": {
                        "payload": {
			    "properties": {
				"consent": {
                                    "description": "Consent (consentUrl)",
                                    "format": "url",
				    "type": "string"
				},
				"operationReference": {
                                    "$ref": "#/definitions/OperationReferenceModel"
				},
				"serviceProvider": {
                                    "description": "Service Provider (publishedProviderUrl)",
                                    "format": "url",
				    "type": "string"
				}
			    },
			    "required": [
			        "consent",
			        "operationReference",
			        "serviceProvider"
			    ],
                            "type": "object"
                        },
                        "type": {
                            "format": "'https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#operation-reference-message'",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "OperationReferenceRequestMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "type": "object",
                    "properties": {
                        "payload": {
                            "properties": {
                                "message_descriptor": {
                                    "type": "string",
                                    "format": "https://code.in.digital-me.nl/DOC/FuncQiy/blob/master/QS%20User%20Node%20Protocol-gitbucket.md#operation-reference-request-message"
                                },
                                "created": {
                                    "description": "Message creation time.",
                                    "type": "integer",
                                    "format": "Unix time in ms"
                                }
                            }
                        },
                        "protocol": {
                            "type": "string",
                            "description": "[Data Descriptor](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#data-descriptor) to identify the requested data.",
                            "format": "url"
                        }
                    }
                }
            ]
        },
        "OperationReferenceModel": {
            "description": "See [Operation Reference](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#operation-reference).",
            "type": "string"
        },
        "OperationSpecificationModel": {
            "description": "See [Operation Specification](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#operation-specification).",
            "properties": {
                "body": {
                    "description": "Required body data.",
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "object",
                    "format": "not nullable"
                },
                "headers": {
                    "description": "The headers to be used.",
                    "items": {
                        "properties": {
                            "accept": {
                                "description": "Accept header.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "minItems": 0,
                    "maxItems": 1,
                    "type": "array"
                },
                "method": {
                    "description": "The supported http operation.",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                },
                "queryParams": {
                    "description": "Required query parameters",
                    "items": {
                        "type": "object"
                    },
                    "maxItems": 1,
                    "minItems": 0,
                    "type": "array"
                },
                "transport": {
                    "description": "The supported transfer protocol.",
                    "type": "string",
                    "minItems": 1,
                    "maxItems": 1
                },
                "url": {
                    "description": "Resource url/Service Endpoint url",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string",
                    "format": "url"
                }
            },
            "type": "object"
        },
        "OperationSpecificationRequestMessageModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/MessageModel"
                },
                {
                    "properties": {
                        "payload": {
			    "properties": {
				"operationType": {
                                    "description": "Operation Type (operationTypeUrl)",
                                    "format": "url",
				    "type": "string"
				}
			    },
			    "required": [
			        "operationType"
			    ],
                            "type": "object"
                        },
                        "type": {
                            "format": "'https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#operation-specification-request-message'",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            ]
        },
        "OperationTypeModel": {
            "description": "Operation Type Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Operation Type links.",
                    "properties": {
                        "descriptor": {
                            "description": "Operation Type Descriptor.",
                            "format": "url",
                            "type": "string"
                        },
                        "consumes": {
                            "description": "Consumes Data Type (dataTypeUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "response": {
                            "description": "Response Data Type (dataTypeUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "serviceType": {
                            "description": "Service Type (serviceTypeUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Operation Type (operationTypeUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "descriptor",
                        "self",
                        "serviceType"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the Operation Type.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "OperationTypesModel": {
            "description": "List of Operation Types.",
            "items": {
                "description": "Operation Type url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "PersistentIdModel": {
            "description": "See [Persistent Id](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#persistent-id).",
            "format": "ascii string with length 24",
            "type": "string"
        },
        "PortfolioModel": {
            "description": "Portfolio Model.",
            "properties": {
                "links": {
                    "type": "object",
                    "properties": {
                        "accounts": {
                            "description": "Accounts (accountsUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "consents": {
                            "description": "Consents (consentsUrl)",
                            "type": "string",
                            "format": "url"
                        },
                        "subscriptions": {
                            "description": "Subscriptions (subscriptionsUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    }
                }
            },
            "type": "object"
        },
        "PublishedProviderModel": {
            "description": "Published Provider Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Published Provider links.",
                    "properties": {
                        "accessProvider": {
                            "description": "Access Provider (accessProviderUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "consumes": {
                            "description": "Data Types that the Service Provider consumes.",
			    "items": {
                                "description": "Consumes Data Type (dataTypeUrl).",
                                "format": "url",
                                "type": "string"
			    },
                            "type": "array"
                        },
                        "produces": {
                            "description": "Data Types that the Service Provider consumes.",
			    "items": {
                                "description": "Produces Data Type (dataTypeUrl).",
                                "format": "url",
                                "type": "string"
			    },
                            "type": "array"
                        },
                        "providerDescription": {
                            "description": "External documentation about the Service Provider.",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Published Provider url (publishedProviderUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "services": {
                            "description": "Published Services url (publishedServicesUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "accessProvider",
                        "providerDescription",
                        "self",
                        "services"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the service.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "PublishedProvidersModel": {
            "description": "List of Published Providers.",
            "items": {
                "description": "Published Provider url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "PublishedServiceModel": {
            "description": "Published Service Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Published Service links.",
                    "properties": {
                        "operationTypes": {
                            "description": "Operation Type APIs.",
			    "items": {
                                "description": "Operation Type API.",
				"properties": {
			            "operationApi": {
                                        "description": "Link to the API for the Operation as provided by the Service Provider (operationApiUrl).",
                                        "format": "url",
                                        "type": "string"
			            },
			            "operationType": {
                                        "description": "Operation Type (operationTypeUrl)",
                                        "format": "url",
                                        "type": "string"
				    }
				},
				"required": [
				    "operationApi",
				    "operationType"
				],
				"type": "object"
			    },
                            "type": "array"
                        },
                        "provider": {
                            "description": "Service Provider (publishedProviderUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Published Service (publishedServiceUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "serviceDescription": {
                            "description": "Service Description (serviceDescriptionUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "serviceType": {
                            "description": "Service Type (serviceTypeUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "provider",
                        "self",
                        "serviceDescription",
                        "serviceType"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the service.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "PublishedServicesModel": {
            "description": "List of Published Services.",
            "items": {
                "description": "Publised Service url (publishedServiceUrl)",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "QiyNodeCreateRequestParametersModel": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/QiyNodeId"
                },
                {
                    "$ref": "#/definitions/QiyNodePublicKey"
                }
            ]
        },
        "QiyNodeCredentialModel": {
            "allOf": [
                {
                    "$ref": "#/definitions/QiyNodeId"
                },
	        {
                    "type": "object",
                    "properties": {
                        "privateKey": {
                            "description": "Qiy Node RSA private key.",
                            "type": "string",
                            "minItems": 1,
                            "maxItems": 1
                        }
                    },
                    "required": [
                        "privateKey"
                    ]
		}
            ]
        },
        "QiyNodeId": {
            "type": "object",
            "properties": {
                "id": {
                    "description": "Qiy Node Id.",
                    "type": "string",
                    "minItems": 1,
                    "maxItems": 1
                }
            },
            "required": [
                "id"
            ]
        },
        "QiyNodePublicKey": {
            "type": "object",
            "properties": {
                "publicKey": {
                    "description": "Qiy Node RSA public key.",
                    "type": "string",
                    "minItems": 1,
                    "maxItems": 1
                }
            },
            "required": [
                "publicKey"
            ]
        },
        "ReferenceResultModel": {
            "description": "Result of the Operation Execute Request.",
            "properties": {
                "connection": {
                    "description": "Connection (connectionUrl).",
                    "format": "uri",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                },
                "ref": {
                    "description": "Data Reference/Operation Reference.",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                },
                "value": {
                    "description": "Return value of the Service Endpoint, accessed immediately after the request.",
                    "format": "Base64-encoded",
                    "minItems": 1,
                    "maxItems": 1,
                    "type": "string"
                }
            },
	    "required": [
                        "connection",
                        "ref",
                        "value"
                    ],
            "type": "object"
        },
        "ReferencesResultModel": {
            "description": "References result.",
            "items": {
                "description": "References result by Operation Type.",
                "properties": {
                    "operationType": {
                        "description": "Operation Type (operationTypeUrl).",
                        "type": "string"
		    },
                    "results": {
                        "items": {
                            "$ref": "#/definitions/ReferenceResultModel"
                        },
			"type": "array"
                    }
                },
                "type": "object"
	    },
            "type": "array",
            "uniqueItems": true
        },
        "ServiceCredentialModel": {
            "description": "Service Credential Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "credentials": {
                    "description": "The actual credentials.",
                    "type": "object"
                },
                "links": {
                    "type": "object",
                    "properties": {
                        "source": {
                            "description": "Source (sourceUrl).",
                            "type": "string",
                            "format": "url"
                        },
                        "self": {
                            "description": "Service Credential (serviceCredentialUrl)",
                            "type": "string",
                            "format": "url"
                        }
                    },
                    "required": [
                        "source",
                        "self"
                    ]
                },
                "state": {
                    "description": "State of the Service Credential.",
                    "type": "string"
                }
            },
            "required": [
                "state",
                "activeFrom",
                "activeUntil",
                "links"
            ],
            "type": "object"
        },
        "ServiceCredentialsModel": {
            "description": "List of Service Credentials.",
            "items": {
                "description": "Service Credential (serviceCredentialUrl)",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "ServiceTypeModel": {
            "description": "Service Type Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Service Type links.",
                    "properties": {
                        "consumes": {
                            "description": "Data Types that the service consumes.",
			    "items": {
                                "description": "Consumes Data Type (dataTypeUrl).",
                                "format": "url",
                                "type": "string"
			    },
                            "type": "array"
                        },
                        "descriptor": {
                            "description": "Service Type Descriptor.",
                            "format": "url",
                            "type": "string"
                        },
                        "operations": {
                            "description": "Operation Types (operationTypesUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "produces": {
                            "description": "Data Types that the service produces.",
			    "items": {
                                "description": "Produces Data Type (dataTypeUrl).",
                                "format": "url",
                                "type": "string"
			    },
                            "type": "array"
                        },
                        "registeredBy": {
                            "description": "Access Provider (publishedProviderUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Service Type (serviceTypeUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "descriptor",
                        "registeredBy",
                        "self",
                        "operations"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the Service Type.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "ServiceTypesModel": {
            "description": "List of Service Types.",
            "items": {
                "description": "Service Type url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        },
        "SourceModel": {
            "description": "Source Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                 "links": {
                    "properties": {
                        "account": {
                            "description": "Account with Data Provider (accountUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "consent": {
                            "description": "Consent (consentUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "dataService": {
                            "description": "Data Service (publishedServiceUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "operations": {
                            "description": "Operations (operationsUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Source (sourceUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "serviceCredentials": {
                            "description": "Service Credentials (serviceCredentialsUrl).",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "consent",
                        "self"
                    ],
                    "type": "object"
                },
                "state": {
                    "description": "State of the source.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "state"
            ],
            "type": "object"
        },
        "SourceUrlModel": {
            "description": "Data Source for the Personal Data (sourceUrl).",
            "format": "url",
            "type": "string"
        },
        "SubscriptionModel": {
            "description": "Subscription Model.",
            "properties": {
                "activeFrom": {
                    "description": "Active from date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms"
                },
                "activeUntil": {
                    "description": "Active until date time stamp.",
                    "type": "integer",
                    "format": "Unix time in ms, nullable"
                },
                "links": {
                    "description": "Subscription links.",
                    "properties": {
                        "consent": {
                            "description": "Consent (consentUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "self": {
                            "description": "Subscription (subscriptionUrl)",
                            "format": "url",
                            "type": "string"
                        },
                        "service": {
                            "description": "Service (publishedServiceUrl).",
                            "format": "url",
                            "type": "string"
                        },
                        "account": {
                            "description": "Account (accountUrl)",
                            "format": "url",
                            "type": "string"
                        }
                    },
                    "required": [
                        "self",
                        "service"
                    ],
                    "type": "object"
                },
                "persistentId": {
                    "description": "Persistent Id.",
                    "type": "string"
                },
                "state": {
                    "description": "State of the service.",
                    "type": "string"
                }
            },
            "required": [
                "activeFrom",
                "activeUntil",
                "links",
                "persistentId",
                "state"
            ],
            "type": "object"
        },
        "SubscriptionsModel": {
            "description": "List of Subscriptions.",
            "items": {
                "description": "Subscription url",
                "format": "url",
                "type": "string"
            },
            "type": "array"
        }
    },
    "parameters": {
	"authorizationParam": {
            "name": "Authorization",
            "in": "header",
            "description": "See [Authorization Header Parameter](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#authorization-header-parameter).",
            "required": true,
            "type": "string",
            "format": "QTF [Qiy Node id] [Unix time in ms]:[signature]"
        },
        "authorizationOptionalParam": {
            "name": "Authorization",
            "in": "header",
            "description": "See [Authorization Header Parameter](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#authorization-header-parameter).",
            "required": false,
            "type": "string",
            "format": "QTF [Qiy Node id] [Unix time in ms]:[signature]"
        },
        "idParam": {
            "name": "id",
            "in": "query",
            "description": "id parameter.",
            "required": true,
            "type": "string"
        },
        "sinceParam": {
            "name": "since",
            "in": "query",
            "description": "Limit results to period after date=time stamp 'since'.",
            "required": false,
            "type": "integer",
            "format": "Unix time in ms"
        }
    },
    "paths": {
        "/accountsUrl": {
            "get": {
                "summary": "Get Accounts",
                "description": "See [Accounts Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#accounts-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 Successful execution.",
                        "schema": {
                            "$ref": "#/definitions/AccountsModel"
                        }
                    },
                    "400": {
                        "description": "[400,600> Unsuccessful execution."
                    }
                },
                "tags": [
                    "Account",
                    "Portfolio"
                ]
            }
        },
        "/accountUrl": {
            "delete": {
                "summary": "Unregister Account.",
                "description": "See [Account Unregister Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#account-unregister-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "tags": [
                    "Account",
                    "Portfolio"
                ],
                "responses": {
                    "204": {
                        "description": "A response code 204 (NO CONTENT) will indicate a success."
                    },
                    "400": {
                        "description": "Failures will be indicated with response codes 400 to but-not-including 600.        "
                    }
                }
            },
            "get": {
                "summary": "Get Account Details",
                "description": "See [Account Details Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#account-details-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Portfolio"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/AccountModel"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update Account details",
                "description": "See [Account Update Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#account-update-request).",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    },
                    {
                        "in": "body",
                        "name": "account-update",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccountModel"
                        }
                    }
                ],
                "tags": [
                    "Portfolio"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200."
                    }
                }
            }
        },
        "/api": {
            "get": {
                "summary": "API information",
                "description": "Get api information and current endpoint addresses. Use this request daily to remain operational, see [Dynamic Path Endpoint Addresses](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#dynamic-path-endpoint-addresses) for more information.",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationOptionalParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfull response",
                        "schema": {
                            "$ref": "#/definitions/ApiModel"
                        }
                    }
                },
                "tags": [
                    "PathEndpointAddresses",
                    "Versions"
                ]
            }
        },
        "/candidatesUrl": {
            "get": {
                "summary": "Get Candidates",
                "description": "See [Candidates Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#candidates-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Source"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/CandidatesModel"
                        }
                    }
                }
            }
        },
        "/cataloguesUrl": {
            "get": {
                "summary": "Get Catalogues",
                "description": "See [Catalogues Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#catalogues-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "tags": [
                    "Library"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/CataloguesModel"
                        }
                    }
                }
            }
        },
        "/catalogueUrl": {
            "get": {
                "summary": "Get Catalogue Details",
                "description": "See [Catalogue Details Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#catalogue-details-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "tags": [
                    "Catalogue"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/CatalogueModel"
                        }
                    }
                }
            }
        },
        "/connectionUrl": {
            "delete": {
                "summary": "Delete connection.",
                "description": "See [Connection Delete Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection-delete-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "tags": [
                    "Connect"
                ],
                "responses": {
                    "204": {
                        "description": "A response code 204 (NO CONTENT) will indicate a success."
                    },
                    "400": {
                        "description": "Failures will be indicated with response codes 400 to but-not-including 600.        "
                    }
                }
            },
            "get": {
                "summary": "Get Connection Details",
                "description": "See [Connection Details Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection-details-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connect",
                    "Message",
                    "Relying Party"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/ConnectionModel"
                        }
                    }
                }
            }
        },
        "/connectionsEndpoint": {
            "get": {
                "summary": "Get Connections",
                "description": "See [Connections Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connections-request).",
                "parameters": [
                    {
                        "name": "since",
                        "in": "query",
                        "description": "Limit results to [Connections](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection) that have been active since the time stamp 'since'.",
                        "format": "Unix time in ms",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "$ref": "#/parameters/authorizationParam"
                    },
                    {
                        "name": "persistentId",
                        "in": "query",
                        "description": "Limit result to [Connection](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection) with a [Persistent Id](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#persistent-id) equaling 'persistentId'.",
                        "format": "See Persistent Id Model",
                        "required": false,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connect",
                    "Relying Party"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/ConnectionsResponseModel"
                        }
                    }
                }
            },
            "post": {
                "summary": "Connection Create Request",
                "consumes": [
                    "application/json"
                ],
                "description": "See [Connection Create Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connection-create-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    },
                    {
                        "name": "connect-token",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConnectTokenModel"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "201 Successful execution.",
                        "schema": {
                            "$ref": "#/definitions/LocationAndLinkModel"
                        }
                    },
                    "400": {
                        "description": "400,600 Unsuccessful execution."
                    }
                },
                "tags": [
                    "Connect",
                    "Data Provider",
                    "Relying Party"
                ]
            }
        },
        "/connectTokenUrl": {
            "delete": {
                "summary": "Delete connect token.",
                "description": "See [Connect Token Delete Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connect-token-delete-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "tags": [
                    "Connect Token"
                ],
                "responses": {
                    "204": {
                        "description": "A response code 204 (NO CONTENT) will indicate a success."
                    },
                    "400": {
                        "description": "Failures will be indicated with response codes 400 to but-not-including 600.        "
                    }
                }
            },
            "get": {
                "summary": "Get Connect Token Details",
                "description": "See [Connect Token Details Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connect-token-details-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Connect",
                    "Relying Party"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200.",
                        "schema": {
                            "$ref": "#/definitions/ConnectTokenDataModel"
                        }
                    }
                }
            },
            "patch": {
                "summary": "Update Connect Token Details",
                "description": "See [Connect Token Update Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#connect-token-update-request).",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    },
                    {
                        "name": "connect-token",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ConnectTokenModel"
                        }
                    }
                ],
                "tags": [
                    "Connect Token"
                ],
                "responses": {
                    "200": {
                        "description": "The status code of a success response will be 200."
                    }
                }
            }
        },
        "/consentsUrl": {
            "get": {
                "summary": "Get Consents",
                "description": "See [Consents Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#consents-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "200 Successful execution.",
                        "schema": {
                            "$ref": "#/definitions/ConsentsModel"
                        }
                    },
                    "400": {
                        "description": "[400,600> Unsuccessful execution."
                    }
                },
                "tags": [
                    "Consent"
                ]
            }
        },
        "/consentUrl": {
            "delete": {
                "summary": "Delete consent.",
                "description": "See [Consent Delete Request](https://github.com/qiyfoundation/Qiy-Scheme/blob/topic/qiy-node-interface/Qiy%20Node%20Protocol.md#consent-delete-request).",
                "parameters": [
                    {
                        "$ref": "#/parameters/authorizationParam"
                    }
                ],
                "tags": [
                    "Consent"
                ],
[...]
